body {
    background-image: url("../assets/images/abstract.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Vidaloka;
}

#typing {
    font-size: 8vw!important;
}

#subtitle {
    position: static;
    font-size: 3vw!important;
}

.website {
    flex: 1 0 auto;
}

#sideNav {
    background: linear-gradient(38deg, #2c2c73, #136adc, #4557d2, #8692e3);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
    height: 100vh;
    position: fixed;

    border-right: ridge 3px white;
}

@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

#nav-headshot {
    border-radius: 50%;
    border: double 5px white;
    height: 25vh;
    width: 12vw;
    margin-top: 10vh;
    margin-left: 1.5vw;
}

#nav-headshot:hover {
    box-shadow: 1px 1px 10px rgb(203, 204, 243), 0 0 15px blue, 0 0 10px rgb(181, 181, 240);
    cursor: pointer;
}

.nav1, .nav2, .nav3, .nav4 {
    margin-left: 3vw;
    color: white;
    text-shadow: 1px 1px 4px black;
    width: 9vw;
    height: 5vh;
    margin-bottom: 3vh;
    font-size: 3vh;
}

.nav1:hover, .nav2:hover, .nav3:hover, .nav4:hover {
    text-shadow: 1px 1px 2px rgb(203, 204, 243), 0 0 5px blue, 0 0 5px rgb(181, 181, 240);
    cursor: pointer;
}

#sidebar-icon {
    margin-top: 1vh;
}

hr {
    margin-top: 1vh;
    margin-left: 2vw;
    width: 10vw;
}

a {
    text-decoration: none;
}

#socMedia{
    background: rgba(222, 227, 233, 0.7);
    height: 30vh;
    margin-top: 10vh;
    border-top: solid 2px white;
}

#instagram, #github, #linkedin {
    height: 5vh;
    margin-top: 5vh;
}

#instagram{
    margin-left: 2vw;
    position: fixed;
}

#instagram:hover {
    height: 7vh;
    position: fixed;
}

#github {
    margin-left: 7vw;
    position: fixed;
}

#github:hover {
    height: 7vh;
    margin-left: 6.6vw;
    position: fixed;
}

#linkedin {
    margin-left: 12vw;
    position:fixed;
}

#linkedin:hover {
    height: 7vh;
    margin-left: 11vw;
    position: fixed;
}

#heading {
    height: 100vh;
}

#intro {
    margin-top: 42vh;
    position: relative;
    text-shadow: black 2px 2px 7px;
}

#subtitle {
    margin-top: 3vh;
    text-shadow: black 2px 2px 7px;
}

#landing{ 
    height: 100vh;
}

#about {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
}

#bioHeadshot {
    float: right;
    box-shadow: 2px 2px 15px black;
    border: solid 5px black;
    height: 50vh;
    width: 20vw;
    margin-top: 6vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 10vh;
}

#portfolio {
    height: 100vh;
    margin-top: 5vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
}

#resume {
    height: 100vh;
    margin-top: 5vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
}

#contact {
    height: 75vh;
    margin-top: 5vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
}

#submit-button {
    background: linear-gradient(38deg, #2c2c73, #136adc, #4557d2, #8692e3);
}

#submit-button:hover {
    box-shadow: 1px 1px 2px rgb(203, 204, 243), 0 0 15px blue, 0 0 10px rgb(181, 181, 240);
}

footer {
    height: 8vh;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(148, 148, 175);
    margin-top: 5vh;
    margin-bottom: -4vh;
    position:fixed;
}