body {
    background-image: url("../assets/images/abstract.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Vidaloka;
}

#navigation {
    background: linear-gradient(38deg, #2c2c73, #136adc, #4557d2, #8692e3);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

.website {
    flex: 1 0 auto;
}

.nav1, .nav2, .nav3, .nav4 {
    margin-right: 40px;
    font-size: 20px;
}

.brandlogo {
    cursor: pointer;
    border: 1px double white;
    width: 300px;
}

.socMedia {
    background-color: rgba(255, 255, 255, 0.9);
}

.socLink {
    height: 4.25rem;
}

.github, .instagram, .linkedIn {
    height: 3rem;
    width: 3rem;
    margin-top: 0.5rem;
}

#typing {
    font-size: 8rem!important;
}

#subtitle {
    position: static;
    font-size: 3rem!important;
}

#heading {
    height: 100vh;
}

#intro {
    margin-top: 30vh;
    position: relative;
    text-shadow: black 2px 2px 7px;
}

#subtitle {
    margin-top: 3vh;
    text-shadow: black 2px 2px 7px;
}

#landing{ 
    height: 100vh;
    padding: 0px;
}

/* scroller code taken from https://codepen.io/2xsamurai/pen/WwmjKQ */
#scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 98vh;
    cursor: pointer;
    width :34px;
    height: 55px;
  }

  .mouseRoll {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid rgb(16, 19, 68);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }

  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: rgb(16, 19, 68);
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

.magic {
    top: 90vh;
    color: white;
    text-shadow: black 1px 1px 3px;
}

#about {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
    overflow-x: auto;
}

#bio {
    margin-top: 15vh;
    margin-left: 5rem;
    color: rgb(16, 19, 68);
}

#bioHeadshot {
    float: right;
    height: 25rem;
    width: 20rem;
    box-shadow: 2px 2px 15px rgb(16, 19, 68);
    border: solid 5px black;
    margin-right: 3rem;
    margin-top: 10rem;
    margin-bottom: 10vh;
    padding: 0px;
}

#portfolio {
    height: 100vh;
    margin-top: rem;
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
}

.carousel-item {
    margin: 0;
    padding: 0;
}

.portHead {
    margin-top: 100px;
}

.portCarousel {
    margin-top: 50px;
}

.car {
    height: 100%;
    background-color: white;
    overflow: auto;
    position: fixed;
}

.portImage {
    height: 100%;
    width: 40%;
}

#resume {
    height: 100%;
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
}

.resumeDiv {
    height: 100vh;
    width: 40vw;
    background-color: white;
}

#resumeImage {
    height: 100vh;
    width: 40rem;
    padding: 0!important;
}

#contact {
    height: 100vh;
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
    overflow: auto;
    color: rgb(16, 19, 68);
}

#contactHeader {
    margin-top: 5rem;
}

#submit-button {
    background: linear-gradient(38deg, #2c2c73, #136adc, #4557d2, #8692e3);
}

#submit-button:hover {
    box-shadow: 1px 1px 2px rgb(203, 204, 243), 0 0 15px blue, 0 0 10px rgb(181, 181, 240);
}

footer {
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(148, 148, 175);
    margin-top: 5vh;
    margin-bottom: -15vh;
    position:fixed;
}